<app-header [nav] = "nav"></app-header>
  
<div class="noba">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="noba-detail">
                    <li><div>1. Sharing</div> Noba is first and foremost a sharing platform for engaging and liberating ordinary people around the world.  </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="noba-detail">
                    <li><div>2. Lifestyle</div> The Noba brand is a way of life harnessing people far and wide to create a new revolution in wellbeing </li>
                </ul>
            </div>

            <div class="col-lg-6">
                <ul class="noba-detail">
                    <li><div>3. Enabler</div> Noba is about removing obstacles to enable a series of transactions that promote better living for people and businesses alike </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="noba-detail">
                    <li><div>4. Sustainability</div> Noba strongly believes in creating a green future by taking the necessary actions today </li>
                </ul>
            </div>

            <div class="col-lg-12">
                <ul class="noba-detail w-50 m-auto pt-5">
                    <li><div>5. Accessible</div> Enabling access to needed, simpler, cheaper and environmentally friendly products and services </li>
                </ul>
            </div>
        </div>
    </div>
</div>