<app-header [nav] = "nav"></app-header>

  
<div class="background">
    <div class="container">
        <h2 class="">Register your Interest</h2>
        <div class="row">
            <form class="form-inline" [formGroup] = "registrationform" (ngSubmit)="onSubmit()">
                <div class="col-lg-12">
                    <div class="form-group">
                        <input type="text" class="w-100 mt-5 form-control" id="email" placeholder="Title" formControlName="Title" required [(ngModel)]='registration.Title'>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="w-100 mt-5 form-control" id="pwd" placeholder="First Name" formControlName="Firstname" required [(ngModel)]='registration.FirstName'>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="text" class="w-100 mt-5 form-control" id="email" placeholder="Last Name" formControlName="Lastname" required [(ngModel)]='registration.LastName'>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="email" class="w-100 mt-5 form-control" id="pwd" placeholder="Email Address" formControlName="email" required [(ngModel)]='registration.email'>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <input type="number" class="w-100 mt-5 form-control" id="email" placeholder="Phone" formControlName="Phone" required [(ngModel)]='registration.PhoneNumber'>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="w-100 text-left mt-5 interest">Interest</div>
                        <div class="w-100 mt-2 pl-4">
                            <input class="form-check-input" type="checkbox"  required [(ngModel)]='registration.Interest_People'> For people product and services
                        </div>
                        <div class="w-100 mt-2 pl-4">
                            <input class="form-check-input" type="checkbox"  required [(ngModel)]='registration.Interest_Business'> For business product and services
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="w-100 text-left mt-5 interest">How can we help?</div>
                        <textarea class="form-control mt-2" rows="2" id="comment" formControlName="help" required [(ngModel)]='registration.Help'></textarea>
                    </div>
                </div>
                
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="w-100 mt-5 heading interest" for="sel1">Country</label>
                        <select class="form-control mt-2 w-100 " id="sel1" formControlName="country" required [(ngModel)]='registration.Country'>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="Africa">Africa</option>
                        <option value="London"> London</option>
                        <option value="Turki">Turki</option>
                        </select>
                    </div>
                </div>


                <div class="col-lg-12 text-center mt-5">
                <button class="btn btn-success" (click)="newRegister" [disabled] = "!registrationform.valid">Contact Us</button>
                </div>
            </form>
        </div>
    </div>
</div>