<app-header [nav] = "nav"></app-header>

<div class="container">
    <h1 class="mt-4">Noba Cookies Policy</h1>
    <p>
        (Version 1, effective 5th January 2021)
    </p>
    <h1 class="mt-4">
        OVERVIEW OF OUR COOKIE POLICY
    </h1>
    <p>
        Noba Group Limited uses cookies for a variety of purposes, including ensuring that our website functions as expected, remembering your preferences and gathering data on the users of our website and our services.
<br>
By using our website (through any device) you agree that this Cookies Policy, together with our Privacy Notice and Terms, applies to that use. References to our website below include references to our apps.
<br>
We are committed to protecting you and any information (anonymous or otherwise) that we collect about you online. This section tells you about how and why we use cookies, and how this allows us to improve our service.
<br>
If you wish to use our website, but would like us not to set cookies in your browser, you can disable or remove the cookies. Details on how to do this are set out below. Please note that disabling or removing the cookies we or our third party service providers set may impact the functionality and security of our website and our ability to provide our services to you.
<br>
We reserve the right to make changes to our Cookies Policy. Any changes we may make to our Cookies Policy in the future will be posted on this page and, where appropriate, notified to you by email. Please check back frequently to see any updates or changes to our Cookies Policy. Your continued use of our website is taken as your agreement to any such changes.

    </p>
<h1 class="mt-4">WHAT ARE COOKIES?</h1>
<p>
    Cookies are files containing small amounts of information downloaded to your device. We and our third party service providers use both session cookies and persistent cookies. We use cookies for a range of purposes, including to remember any preferences you’ve set and to improve usability of the website for you and other users.
<br>
Cookies are files containing small amounts of information which are downloaded to the device you use when you visit a website. Your web browser (such as Internet Explorer, Mozilla Firefox, Google Chrome or Safari) then sends these cookies back to our website or application on each subsequent visit.
<br>
We and our third party service providers use the information we obtain about you through the use of cookies for the following purposes:
</p>
<ul>
    <li>to recognise your device(s) when you visit our website and to remember if you’ve set any preferences on our website. This enables us to personalise our content for you and greet you by name
    </li>
<li>
    to temporarily store data as part of, for example, customer surveys
</li>
<li>
    to test new content and evaluate its effectiveness
</li>
<li>
    to remember if you’ve been informed of our Cookies Policy, Privacy Notice and other Terms before
</li>
<li>
    to recognise and count the number of visitors to our website and see how you navigate our website when you are visiting it (including tracking page usage and paths used by visitors through our website; and tracking use of our Internet banner advertisements and other links from our marketing partners’ websites to our website)
</li>
<li>
    to improve our website’s usability and keep our services easy to use and up to date
</li>
<li>
    to allow you to share pages with social networks such as LinkedIn, Facebook and Twitter / to support social media components, like Facebook or Twitter (where our website uses a plugin from these third party platforms)
</li>
<li>
    to ensure you don’t miss information that is relevant to you (including targeting our website content, targeting our marketing campaigns and direct marketing emails, targeting our Internet banner advertisements on our website and on other websites)
</li>
<li>
    to analyse use of our website (including for performance and statistical analysis, sales and marketing research). To stop us setting these cookies you will need to set up your browser to reject all cookies (see further below)
</li>
</ul>
<p>
    We may also combine this web usage data with other information we have collected about you. We store this information so that we have a better and more specific understanding of the way users are using our website, and their preferences and interests, for the purposes set out above.
<br>
Cookies may be either “persistent” cookies or “session” cookies, depending on how long they are used.
</p>
<ul>
    <li>Persistent cookies remain on your device after you have closed your browser, and allow a website to remember your actions and preferences. They are activated each time you visit the website where the cookie was generated. Sometimes persistent cookies are used by websites to provide targeted advertising based on the browsing history of the device. They are stored by the browser and remain valid until their set expiry date (unless deleted by the user before the expiry date).
    </li>
  <li>
    Session cookies only last for the duration of your visit and are deleted when you close your browser. They facilitate tasks such as allowing a website to identify that a user of a particular device is navigating from page to page, supporting website security or basic functionality.
  </li>
</ul>
<p>
    Many of the cookies we use are session cookies. For example, they help us to ensure the security of your session, and can also keep you signed in to your Noba account while you move between pages.
</p>
<h1 class="mt-4">MORE ABOUT THE COOKIES WE USE</h1>
<p>
    This section describes more about the different types of cookies we use. The cookies are both cookies that we set (first party cookies) and cookies that are managed for us by third parties.
<br>
Whether a cookie is a first or third party cookie depends on which website the cookie comes from.
</p>
<ul>
    <li>First party cookies are those set by or on behalf of the website visited. All other cookies are third party cookies.
    </li>
<li>
    Third party cookies: In some cases, some of these cookies are managed for us by third parties, but we don’t allow the third party to use the cookies for any purpose other than those listed above.
</li>
<li>
    Web analytics services: In order to keep our products and services easy to use and up-to-date, we also use web analytics services to help us understand how people use our website. For example, we can see which parts of our services are most popular, identify when errors occur and test different versions of a page or feature to see which one works best. These web analytics services may be designed and operated by other companies on our behalf. They do this using small invisible images known as “web beacons” or “tracking pixels” that may be included in the digital products and services on our website.
 
</li>
</ul>
<p>
    These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose. We use retargeting and online behavioural advertising to market Noba which employs targeting cookies to deliver you more targeted advertising.
<br>
You can read more about the cookies we and our trusted service providers use below.
<br>
By using our website, you agree that we can place both first party and third party cookies and web analytic services on your device.
</p>
<h1 class="mt-4">
    SPECIFIC COOKIES WE USE
</h1>
<p>
    Below is a full list of the cookies we use together with a description of what they are used for, and whether they are ‘first’ or ‘third’ party. Where a cookie is a third party cookie, please visit the providers’ website for more information.
 
</p>
<table class="table table-bordered mt-4">
<thead>
    <tr>
        <td>
            Cookie
        </td>
        <td>
            
Cookie Name or Type

        </td>
<td>
    
Duration

</td>
<td>
    
Description

</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            
Noba

        </td>
        <td>
            CS_SESSION
        </td>
        <td>
            
Session (Forever)
        </td>
        <td>
            
This is a first party cookie allowing users to log into the site when changing page or returning to the site.
        </td>
    </tr>
</tbody>
</table>
<p>
    TURNING COOKIES OFF
<br>
You can reject cookies within your browser, but please note that certain parts of our website may no longer function as expected.
<br>
In all modern browsers you may elect to reject cookies and/or enable do not track features, and we provide instructions on how to do this below. Please note however that by doing so parts of our website may no longer function as expected. For example, if you delete cookies any preferences they record will be lost. This includes for example where you have opted out from cookies, as this requires an opt-out cookie to be set.
<br>
If your concerns are based around third party cookies, then we recommend you just reject those cookies, rather than all cookies so that we can still provide you with the functionality you expect.
<br>
If you do wish to stop your browser from accepting cookies, see the following pages:
</p>
<ul>
    <li>
        Mozilla Firefox: <a href="http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">http://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
    </li>
    <li>
        Google Chrome: <a href="https://support.google.com/chrome/bin/answer.py?hl=en&answer=95647&p=cpn_cookies
        ">https://support.google.com/chrome/bin/answer.py?hl=en&answer=95647&p=cpn_cookies</a>
    </li>
    <li>
        Internet Explorer: <a href="http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies
        ">http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies </a>
    </li>
    <li>
        Safari: <a href="https://support.apple.com/kb/ph21411?locale=en_GB">https://support.apple.com/kb/ph21411?locale=en_GB</a>
    </li>
</ul>
<h1 class="mt-4">CONTACT US</h1>
<p>
    If you have any questions about our cookies or this Cookies Policy, please contact us on privacy@Nobaworld.com.
</p>
<h1 class="mt-4">
    FURTHER READING
</h1>
<p>
    If you would like to know more about cookies, you can find out more at the links below.
</p>
<ul>
    <li>
        Useful information about cookies can be found at: <a href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>
    </li>
    <li>
        The BBC Web Wise guide to cookies: <a href="http://www.bbc.co.uk/webwise/guides/about-cookies">http://www.bbc.co.uk/webwise/guides/about-cookies</a>
    </li>
    <li>
        Information on the ICO cookie guide can be found on the ICO website: <a href="https://ico.org.uk/media/for-organisations/documents/1545/cookies_guidance.pdf">https://ico.org.uk/media/for-organisations/documents/1545/cookies_guidance.pdf</a>
    </li>
    <li>
        A guide to behavioural advertising and online privacy has been produced by the Internet Advertising Bureau which can be found at: <a href="http://www.youronlinechoices.com/uk/download-guide">http://www.youronlinechoices.com/uk/download-guide</a>
    </li>
</ul>
<br><br>
</div>


<!-- Footer Section -->
