<app-header [nav]="nav"></app-header>

<!-- The Modal -->
<div class="modal" id="myModal">
  <!-- Modal body  -->
  <div class="modal-body">
    <div class="cookies" role="dialog">
      <div class="container-fluid">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-9">
              <div class="cookie-left">
                <h3>Cookie Notice</h3>
                <p>This website uses cookies to enhance your experience and to help us learn how we can improve Noba for
                  our customers. By continuing
                  to use the website, you agree to our use of such cookies and the processing of any information. You
                  can alter your cookie preferences
                  <a data-dismiss="modal" routerLink="cookie-form">below</a> . <br>
                  <a data-dismiss="modal" routerLink="Terms-and-condition">Click here</a> to read our Terms &amp;
                  Conditions on how we use your information</p>
              </div>
            </div>
            <div class="col-lg-3 text-lg-center">
              <div class="cookie-right"> <button (click)="cookie_value()">Accept and Close</button> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner with logo -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fixed">
          <img class="fadeInDown animated" src="../../../assets/images/noba.png" />
          <!-- <img id="scroll-up" class="fadeInDown animated absolute" src="../../../assets/images/yellow-bottom-anim.png" /> -->
        </div>
        <img id="scroll-down" class="fadeInDown animated top-absolute"
          src="../../../assets/images/yellow-top-anim.png" />
      </div>
    </div>
  </div>
  <a class="arrow"><img src="../../../assets/images/arrow.png" />Our mission</a>
</div>
<!-- Slider Section -->
<div id="slide1" #target class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ul class="carousel-indicators bullots">
    <ol data-target="#slide1" data-slide-to="0" class="active">1</ol>
    <ol data-target="#slide1" data-slide-to="1">2</ol>
    <ol data-target="#slide1" data-slide-to="2">3</ol>
    <ol data-target="#slide1" data-slide-to="3">4</ol>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner slider">
    <div class="carousel-item active">
      <div class="slide-content">
        <h3>Welcome to a world without barriers</h3>
        <p style="color: white;">We're building a global community to create a new revolution in finance</p>
        <div class="box">
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
          <!-- <form>
            <input type="text" placeholder="07780 990000" tabindex="0">
            <button type="submit" tabindex="0">Text me the App</button>
          </form> -->
        </div>
      </div>
      <img src="../../../assets/images/1.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h3>Powered by Generations</h3>
        <p style="color: white;">We're creating a new revolution in mobile payments</p>
        <div class="box">
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
          <!-- <form>
            <input type="text" placeholder="07780 990000" tabindex="0">
            <button type="submit" tabindex="0">Text me the App</button>
          </form> -->
        </div>
      </div>
      <img src="../../../assets/images/3.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h3>Shared experience</h3>
        <p style="color: white;">We're creating a new revolution in mobile payments</p>
        <div class="box">
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
          <!-- <form>
            <input type="text" placeholder="07780 990000" tabindex="0">
            <button type="submit" tabindex="0">Text me the App</button>
          </form> -->
        </div>
      </div>
      <img src="../../../assets/images/4.jpg" alt="New York">
    </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h3>Free and Easy</h3>
        <p style="color: white;">We're creating a new revolution in mobile payments</p>
        <div class="box">
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
          <!-- <form>
            <input type="text" placeholder="07780 990000" tabindex="0">
            <button type="submit" tabindex="0">Text me the App</button>
          </form> -->
        </div>
      </div>
      <img src="../../../assets/images/5.jpg" alt="New York">
    </div>
  </div>
  <!-- <a class="slide-arow"><img src="../../../assets/images/arrow.png" />Our mission</a> -->
</div>
<!-- parallax -->
<div #slide class="parallax2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <p>We're opening up new opportunities for people and business to change
            their world for good. In a digital economy, we believe money can and
            should work better for every global community.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img class="w-100" src="../../../assets/images/icon-1.svg" />
          <p>Connected communities</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img class="w-100" src="../../../assets/images/icon-2.svg" />
          <p>Borderless belonging</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img class="w-100" src="../../../assets/images/icon-3.svg" />
          <p>Financial liberation</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 .hidden-sm-down .hidden-xs-down"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img class="w-100" src="../../../assets/images/sustain.svg" />
          <p>Empowering sustainability</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img class="w-100" src="../../../assets/images/partnership.svg" />
          <p>Lasting Partnership</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 .hidden-sm-down .hidden-xs-down"></div>
    </div>
  </div>
  <a class="arrow"><img src="../../../assets/images/light-green-arrow.png" />Our world</a>
</div>
<!-- What is Noba -->
<!-- <div id="demo2" class="parallax image-0">
  <div class="content">
    <p>What is Noba</p>
  </div>
</div>  -->


<!-- Video Section -->
<div class="video-section" #worldtarget id="worldtarget">
  <!-- <div class="poster" *ngIf="imgshow">
    <img src="../../../assets/images/art.png" />
  </div> -->
  <div *ngIf="videoShow"> 
    <video  class="w-100" id="myVideo" autoplay>
      <source src="assets/video/PayAccessVideo.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="container art">
    <img src="../../../assets/images/art.png" />
  </div>
  <h3 *ngIf="imgshow" class="video-content">So, what does our world look like?</h3> 
  <a (click)="clickkar()">   <img *ngIf="imgshow" class="video-overlay-play-button"  src="../../../assets/images/play.png" alt="Play video" /> </a> 
  <a  class="arrow"><img src="../../../assets/images/arrow.png" />Services</a>
</div>


<!-- <video poster="../../../assets/images/art.svg" class="has-media-controls-hidden">
  <source src="assets/video/PayAccessVideo.mp4" type="video/mp4">
</video> -->

<!-- Noba 3 Section -->
<div class="wrapper">
  <div class="row m-0">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding h-400 purple" style="border-top:1px solid white;border-bottom:1px solid white;">
      <div class="noba-section">
        <img class="padding" src="../../../assets/images/people-connect.png" alt="Noba Connect">
        <p class="padding w-100">Our Community</p>
      </div>
      <div class="bottom-right"> <a href="" class="btn btn-primary float-right b-0">Connect</a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding h-400 green" style="border:1px solid white">
      <div class="noba-section">
        <img class="padding" src="../../../assets/images/pay.png" alt="Noba Pay">
        <p class="padding w-100">Empowering Sustainability</p>
      </div>
      <div class="bottom-right"> <a href="https://nobaworld.threadless.com/mens/t-shirt/heavyweight" class="btn btn-primary float-right b-0">Take Control</a></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding h-400 light-green" style="border-top:1px solid white;border-bottom:1px solid white;">
      <div class="noba-section">
        <img class="padding" src="../../../assets/images/people-academy.png" alt="Noba Academy">
        <p class="padding w-100">Discovery & Naturing of Talent</p>
      </div>
      <div class="bottom-right"> <a href="" class="btn btn-primary float-right b-0">Discover</a></div>
    </div>
  </div>
  <a  class="arrow"><img src="../../../assets/images/arrow.png" />Latest news</a>
</div> 

<!-- <div class="parallax image-1">
  <div class="content">
    <p>Connected worlds</p>
  </div>
</div>
<div class="parallax image-2">
  <div class="content">
    <p>Powered by generations</p>
  </div>
</div>
<div class="parallax image-3">
  <div class="content">
    <p>Free and easy</p>
  </div>
</div>
<div class="parallax image-4">
  <div class="content">
    <p>Backing communities</p>
  </div>
</div> -->


<div class="parallax image-5" #targetbetter>
  <div class="content">
    <p>Better all round</p>
    <a href="" class="btn btn-primary">See what we’re up to</a>
  </div>
</div>

<!-- Testimonials -->
<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-center m-auto">
        <h2>Testimonials</h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-slide="true">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="img-box"><img src="./../../../assets/images/test1.jpg" alt=""></div>
              <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
              <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
            </div>
            <div class="item carousel-item">
              <div class="img-box"><img src="./../../../assets/images/test-2.jpg" alt=""></div>
              <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
              <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
            </div>
            <div class="item carousel-item">
              <div class="img-box"><img src="./../../../assets/images/test-3.jpg" alt=""></div>
              <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
              <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <a  class="arrow"><img src="../../../assets/images/arrow.png" />Testimonials</a>
</div>
<!-- Download App -->
<div #app class="app">
  <div class="container">
    <h2>Download the app from your phone to apply for an account.</h2>
    <a href="#"><img src="../../../assets/images/app-google-big.png"></a>
    <a href="#"><img src="../../../assets/images/app-mac-big.png"></a>
    <form class="get-app-form">
      <input type="text" placeholder="07800 900000">
      <button type="submit">Text me the App</button>
    </form>
    <p>Our<a routerLink="Privacy-Notice">Privacy Notice</a>sets out how the personal data collected from you wil be processed
      by us.</p>
  </div>
  <!-- <a (click)="scroll(footer)" class="arrow-green"><img src="../../../assets/images/arrow-green.png" />Go to footer</a> -->
</div>

<!-- Footer Section -->
<footer #footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-1 .hidden-sm-down .hidden-xs-down"></div>
      <div class="col-sm-4 col-md-4 footer-item">
        <h4>Contact us</h4>
        <p>London (UK) Headquarters
          <br> DUDLEY HOUSE, 169 PICCADILLY
          <br> LONDON
          <br> W1J 9EH
          <br> Tel: +44 (0) 333 242 7445</p>
      </div>
      <div class="col-sm-3 col-md-3 footer-item">
        <h4>Links<br></h4>
        <ul>
          <li><a href="#">Our world</a></li>
          <li><a  routerLink="Privacy-Notice">Privacy Notice</a></li>
          <!--<li><a href="#">Company announcements</a></li> -->
          <li><a href="#">News and Media</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-3 social-item">
        <h4>Follow us</h4>
        <ul class="social">
          <li><a class="icon" href="#"><img src="./../../../assets/images/linkedin.png"> </a></li>
          <li><a class="icon" href="#"><img src="./../../../assets/images/twitter.png"> </a></li>
          <li><a class="icon" href="#"><img src="./../../../assets/images/facebook.png"> </a></li>
          <li><a class="icon" href="#"><img src="./../../../assets/images/instagram.png"> </a></li>
        </ul>
      </div>
      <div class="col-sm-1 .hidden-sm-down .hidden-xs-down"></div>
      <div class="col-12">
        <div class="copyright text-center fotter-end">Copyright 2017 - 2020 Noba Group Ltd</div>
      </div>
    </div>
  </div>
</footer>