<app-header [nav]="nav"></app-header>

<!-- The Modal -->
<div class="modal" id="myModal">
  <!-- Modal body  -->
  <div class="modal-body">
    <div class="cookies" role="dialog">
      <div class="container-fluid">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-9">
              <div class="cookie-left">
                <h3>Cookie Notice</h3>
                <p>This website uses cookies to enhance your experience and to help us learn how we can improve Noba for
                  our customers. By continuing
                  to use the website, you agree to our use of such cookies and the processing of any information. You
                  can alter your cookie preferences
                  <a data-dismiss="modal" routerLink="cookie-form">below</a> . <br>
                  <a data-dismiss="modal" routerLink="Privacy-Notice">Click here</a> to read our Terms &amp;
                  Conditions on how we use your information</p>
              </div>
            </div>
            <div class="col-lg-3 text-lg-center">
              <div class="cookie-right"> <button (click)="cookie_value()">Accept and Close</button> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner with logo -->
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="fixed">
          <div class="banner-img">
            <img id="scroll-down" class="fadeInDown animated top-absolute scroll-down" src="../../../assets/images/yellow-top-anim.png" />
            <img class="fadeInDown animated logo-bottom-part" src="../../../assets/images/noba.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="arrow"><img src="../../../assets/images/arrow.png" />Our Purpose</a>
</div>
<!-- Slider Section -->
<div id="slide1" #target class="carousel slide" data-ride="carousel" data-interval="15000">
  <!-- Indicators -->
  <ul class="carousel-indicators bullots">
    <ol data-target="#slide1" data-slide-to="0" class="active">1</ol>
    <ol data-target="#slide1" data-slide-to="1">2</ol>
    <ol data-target="#slide1" data-slide-to="2">3</ol>
    <ol data-target="#slide1" data-slide-to="3">4</ol>
  </ul>

  <!-- The slideshow -->
<div class="carousel-inner slider">
  <div class="carousel-item active">
    <div class="slide-content">
      <h3 class="font-weight-bold">A world without barriers</h3>
      <p style="color: white;">Open up to a new revolution in financial wellbeing</p>
      <div class="box">
        <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
        <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
        <!-- <form>
          <input type="text" placeholder="07780 990000" tabindex="0">
          <button type="submit" tabindex="0">Text me the App</button>
        </form> -->
      </div>
    </div>
    <img src="../../../assets/images/1.jpg" alt="Los Angeles">
  </div>
  <div class="carousel-item">
    <div class="slide-content">
      <h3 class="font-weight-bold">Free and Easy</h3>
      <p style="color: white;">Discover a world of financial empowerment,<br>all in one place and right at your fingertips.</p>
      <div class="box">
        <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
        <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
        <!-- <form>
          <input type="text" placeholder="07780 990000" tabindex="0">
          <button type="submit" tabindex="0">Text me the App</button>
        </form> -->
      </div>
    </div>
    <img src="../../../assets/images/new-1.jpg" alt="New York">
  </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h3 class="font-weight-bold">Powered by Generations</h3>
        <!-- <p style="color: white;">We're creating a new revolution in mobile payments</p> -->
        <div class="box">
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
          <!-- <form>
            <input type="text" placeholder="07780 990000" tabindex="0">
            <button type="submit" tabindex="0">Text me the App</button>
          </form> -->
        </div>
      </div>
      <img src="../../../assets/images/3.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <div class="slide-content">
        <h3 class="font-weight-bold">Our Currency is People</h3>
        <!-- <p style="color: white;">We're creating a new revolution in mobile payments</p> -->
        <div class="box">
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-google-big.png"> </a>
          <a href="/" tabindex="0"><img src="/../../../assets/images/app-mac-big.png"> </a>
          <!-- <form>
            <input type="text" placeholder="07780 990000" tabindex="0">
            <button type="submit" tabindex="0">Text me the App</button>
          </form> -->
        </div>
      </div>
      <img src="../../../assets/images/new-black-people.jpg" alt="New York">
    </div>
    
  </div>
  <a class="slide-arow"><img src="../../../assets/images/arrow-green.png" />Our mission</a>
</div>
<!-- parallax -->
<div #slide class="parallax2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="content">
          <p>We’re opening up new opportunities for people to change their world for good. In a digital economy, 
            we believe money can and should work better for everyone, wherever you live and whoever you are.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img  src="../../../assets/images/new-man-circle.png" />
          <p>Financial wellbeing</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img  src="../../../assets/images/new-eye.png" />
          <p>Borderless belonging</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img  src="../../../assets/images/new-ambrella.png" />
          <p>Backing sustainability</p>
        </div>
      </div>
      <!-- <div class="col-lg-2 col-md-2 .hidden-sm-down .hidden-xs-down"></div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img  src="../../../assets/images/sustain.svg" />
          <p>Empowering sustainability</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="icon">
          <img  src="../../../assets/images/partnership.svg" />
          <p>Lasting Partnerships</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 .hidden-sm-down .hidden-xs-down"></div> -->
      
      
    </div>
  </div>
  <a class="arrow"><img src="../../../assets/images/light-green-arrow.png" />Our world</a>
</div>
<!-- What is Noba -->
<!-- <div id="demo2" class="parallax image-0">
  <div class="content">
    <p>What is Noba</p>
  </div>
</div>  -->


<!-- Video Section -->
<div class="video-section" #worldtarget id="worldtarget">
  <!-- <div class="poster" *ngIf="imgshow">
    <img src="../../../assets/images/art.png" />
  </div> -->
  <div *ngIf="videoShow"> 
    <video  class="w-100" id="myVideo" autoplay controls>
      <source src="assets/video/PayAccessVideo.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
  <div class="container art" *ngIf="imgshow">
    <img src="../../../assets/images/art.png" />
  </div>
  <h3 *ngIf="imgshow" class="video-content">So, what does our world look like?</h3> 
  <a (click)="clickkar()">   <img *ngIf="imgshow" class="video-overlay-play-button"  src="../../../assets/images/play.png" alt="Play video" /> </a> 
  <a  class="arrow"><img src="../../../assets/images/arrow.png" />Services</a>
</div>


<!-- <video poster="../../../assets/images/art.svg" class="has-media-controls-hidden">
  <source src="assets/video/PayAccessVideo.mp4" type="video/mp4">
</video> -->

<!-- Noba 3 Section -->
<div class="wrapper">
  <div class="row m-0">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding h-400 purple" style="border-top:1px solid white;border-bottom:1px solid white;">
      <div class="data">
        <div class="img">
          <img class="" src="../../../assets/images/people-connect.png" alt="Noba Connect">
          <p class="img-text">connect</p>
          <p class="heading w-100">Building stronger<br> communities</p>
        </div>
        <div class="bottom-right"> <a routerLink = "service" class="btn btn-primary float-right b-0 rounded">Connect</a></div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding h-400 green" style="border:1px solid white">
      <div class="data">
        <div class="img">
          <img class="" src="../../../assets/images/pay.png" alt="Noba Pay">
          <p class="img-shop">app</p>
          <p class="heading w-100">Financial wellbeing<br> at your fingertips</p>
        </div>
        <div class="bottom-right"> <a routerLink = "app" class="btn btn-primary float-right b-0 rounded">Download</a></div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding h-400 light-green" style="border-top:1px solid white;border-bottom:1px solid white;">
      <div class="data">
        <div class="img">
          <img class="" src="../../../assets/images/pay.png" alt="Noba Pay">
          <p class="img-academy">academy</p>
          <p class="heading w-100">Discovery and Nurturing<br> the next generation of talent</p>
        </div>
        <div class="bottom-right"> <a href="https://ondo.nobaworld.io/login" class="btn btn-primary float-right b-0 rounded">Discover</a></div>
      </div>
    </div>
  </div>
</div> 

<!-- <div class="parallax image-1">
  <div class="content">
    <p>Connected worlds</p>
  </div>
</div>
<div class="parallax image-2">
  <div class="content">
    <p>Powered by generations</p>
  </div>
</div>
<div class="parallax image-3">
  <div class="content">
    <p>Free and easy</p>
  </div>
</div>
<div class="parallax image-4">
  <div class="content">
    <p>Backing communities</p>
  </div>
</div> -->


<div class="parallax image-5" #targetbetter>
  <div class="content">
    <p>What does Noba do for me?</p>
    <a href="#" class="arrow-middle"><img src="../../../assets/images/arrow.png" /></a>
    <!-- <a href="" class="btn btn-primary font-weight-bold">What does Noba do for me?</a> -->
  </div>
  <a  class="arrow"><img src="../../../assets/images/arrow.png" />Benefits</a>
</div>

<!-- The slideshow -->
<div id="slide2" #targetbenefits class="carousel new-slide" data-ride="carousel" style="border-bottom: 1px solid white;">
  <!-- Indicators -->
  <ul class="carousel-indicators bullot">
    <ol data-target="#slide2" data-slide-to="0" class="active">1</ol>
    <ol data-target="#slide2" data-slide-to="1">2</ol>
    <ol data-target="#slide2" data-slide-to="2">3</ol>
  </ul>
  <div class="carousel-inner slider">
    <div class="carousel-item active">
      <p>Individual access to simpler, cheaper and<br>
        more sustainable products and services.
      </p>
      <img src="../../../assets/images/new-noba-slide-1.jpg" alt="Los Angeles">
    </div>

    <div class="carousel-item">
      <p>Liberating ordinary people around the world<br>
        through a shared global community.
      </p>
      <img src="../../../assets/images/less-brain-panel.jpg" alt="Los Angeles">
    </div>

    <div class="carousel-item">
      <p>Finding a better life balance by improving<br>
        your personal financial wellbeing.
      </p>
      <img src="../../../assets/images/Less-imbalance_panel.jpg" alt="Los Angeles">
    </div>
  </div>
  <a  class="arrow"><img src="../../../assets/images/arrow.png" />Affiliates</a>
</div>
<!---Clients-->

<!-- Trusted Partners-->
<div class="trustedPartners">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <div class="mt-5">
          <img class="icon w-100" src="../../../assets/images/trustedPartner/partner3.png" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <div class="mt-5">
          <img class="icon w-100" src="../../../assets/images/trustedPartner/partner2.png" />
        </div>
      </div>
      
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <div class="mt-5">
          <img class="icon w-100" src="../../../assets/images/trustedPartner/ICO_registered badge.jpeg" />
        </div>
      </div>
      

      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <div class="mt-5">
          <img class="icon w-100" src="../../../assets/images/trustedPartner/partner4.png" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <div class="mt-5">
          <img class="icon w-100" src="../../../assets/images/trustedPartner/partner5.png" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
        <div class="icon mt-5">
          <img class="w-100" src="../../../assets/images/trustedPartner/partner1.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-center m-auto">
        <!-- <h2>Testimonials</h2> -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-slide="true">
          <!-- Carousel indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>    -->
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <!-- <div class="img-box"><img src="./../../../assets/images/test1.jpg" alt=""></div> -->
              <p class="testimonial">Such an intuitive app. I finally have control over my finances and I love the bill payment functionality, it’s a life changer. I highly recommend Noba to everyone. </p>
              <p class="overview"><b>James Hall</b></p>
            </div>
            <div class="item carousel-item">
              <!-- <div class="img-box"><img src="./../../../assets/images/test-2.jpg" alt=""></div> -->
              <p class="testimonial">I love how easily I can pay my bills at home or on the move. Thank you Nobaworld!</p>
              <p class="overview"><b>Nana Kwasi</b></p>
            </div>
            <div class="item carousel-item">
              <!-- <div class="img-box"><img src="./../../../assets/images/test4.jpeg"  alt=""></div> -->
              <p class="testimonial">Aside from paying all my bills in one convenient place, I like the personal development articles which are tailored to my interests. They motivate me and keep me on track.</p>
              <p class="overview"><b>Sarah Jones</b></p>
            </div>
            <div class="item carousel-item">
              <!-- <div class="img-box"><img src="./../../../assets/images/test4.jpeg"  alt=""></div> -->
              <p class="testimonial">All we get at the moment is negative news. It’s so good to kick off the day with some positive news articles. When I receive the alerts about new articles, I know that what I’m going to read will put me in a positive mood for the rest of the day.</p>
              <p class="overview"><b>Taliyah West</b></p>
            </div>
            <div class="item carousel-item">
              <!-- <div class="img-box"><img src="./../../../assets/images/test4.jpeg"  alt=""></div> -->
              <p class="testimonial">The mentoring I received through Noba Academy gave me total clarity about which career direction to go. I would highly recommend it to everyone.</p>
              <p class="overview"><b>Anthony Otieno</b></p>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img class="icon-top" src="../../../assets/images/testimonial-icon.svg">
  <img class="icon-bottom" src="../../../assets/images/testimonial-icon.svg">
  <a  class="arrow"><img src="../../../assets/images/arrow-dark.png" />Testimonials</a>
</div>



<!-- Download App -->
<div #app class="app">
  <div class="container">
    <h2>Download the app from your phone to apply for an account.</h2>
    <a href="#"><img src="../../../assets/images/app-google-big.png"></a>
    <a href="#"><img src="../../../assets/images/app-mac-big.png"></a>
    <!-- <form class="get-app-form">
      <input type="text" placeholder="07800 900000">
      <button type="submit">Text me the App</button>
    </form> -->
    <p>Our<a routerLink="Privacy-Notice">Privacy Notice</a>sets out how the personal data collected from you wil be processed
      by us.</p>
  </div>
  <a  class="arrow-green"><img src="../../../assets/images/arrow-green.png" />Contact Us</a>
</div>

<!-- Footer Section -->
<footer #footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-md-4 footer-item mx-auto mb-3">
        <h4 class="text-center">UK OFFICE</h4>
        <p class="text-center">Dudley House 
          <br> 169 Piccadilly
          <br> London W1J 9EH
          <br> +44 (0) 333 242 7445
          </p>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-4 footer-item mx-auto mb-3" >
        <h4 class="text-center">Links<br></h4>
        <ul class="text-center">
          <li><a routerLink="Privacy-Notice">Terms & Privacy Notice</a></li>
          <li><a  routerLink="Cookies-Policy">Cookies Policy</a></li>
          <!--<li><a href="#">Company announcements</a></li> -->
          <li><a href="#">News and Media</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-4 social-item mx-auto mb-3 d-flex justify-content-center">
        <div>
          <h4 class="mb-3 text-center">Follow us</h4>
          <ul class="social">
            <li><a class="icon" href="https://www.linkedin.com/company/nobaworld"><img src="./../../../assets/images/linkedin.png"> </a></li>
            <li><a class="icon" href="https://twitter.com/NobaWorld"><img src="./../../../assets/images/twitter.png"> </a></li>
            <li><a class="icon" href="https://www.instagram.com/Noba_World/"><img src="./../../../assets/images/instagram.png"> </a></li>
            <li><a class="icon" href="#"><img src="./../../../assets/images/facebook.png"> </a></li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
  <div class="container-fluid mt-5">
<div class="row">
  <div class="col-md-3">
    <div class="copyright text-center fotter-end">Copyright 2017 - 2021 Noba Group Ltd</div>
  </div>
  <div class="col-md-3 mb-3">
  </div>
  <div class="col-md-6">
    <div class="copyright text-right fotter-end mr-5">Noba Group Ltd trading as Nobaworld is registered in England<br class="d-none d-lg-block ">
      Company number 10177428. VAT number 245 7905 81</div>
  </div>
  
</div>
  </div>
</footer>