<app-header [nav] = "nav"></app-header>

<div class="container">
    <h1 class="mt-4">Noba Terms & Privacy Policy    </h1>
    <p>
        To be added to the App and Website during onboarding. 
    </p>
<p>
By ticking this box, you agree to Noba’s Privacy and Cookies Policy
You also authorise and instruct Noba to retrieve and process information held about you by Credit Reference agencies, for the purpose of providing you with our services. We never share your data with third parties without your permission.
</p>
<p>
Please confirm our Privacy Policy
</p>
    <h1 class="mt-4">
        Noba Privacy
    </h1>
    <p>
        (Version 1, effective 5th January 2021)
    </p>
    <p>
        Noba Group Limited will be the data controller for the data that you provide us or we collect in relation to the provision of our services to you. We respect your privacy and protecting your information is paramount. We want you to be informed and empowered with respect to your privacy when you use our services. Please read this Privacy Notice carefully before using our website or apps or registering to use our services. Together with our Terms and Cookies Policy, this Privacy Notice sets out our views and practices regarding your personal data and how we collect, process and treat it.<br>
        By visiting www.Nobaworld.com and using our apps and services you are accepting and consenting to the practices described in this Privacy Notice. The data controller of your information is Noba Group Limited of Dudley House, 169 Piccadilly, London, United Kingdom, W1J 9EH.
    </p>
    <p>
        Our data controller registration number is ZA705756. You can check our registration on the Data Protection Public Register by visiting <a href="https://www.ico.org.uk/esdwebpages/search">https://www.ico.org.uk/esdwebpages/search</a>. References in this Privacy Notice and on our website to “we”, “our” or “us” are references to Noba Group Limited. References to “you” and “your” means each natural or legal person who uses our website or the associated services.
    </p>
    <p>
        References to our website below include references to our apps.
    </p>
    <p>
        Privacy Policy
    </p>
    <ul>
        <li>The information we collect</li>
        <li>How we use the information</li>
        <li>Who we may share your data with</li>
        <li>What is the legal basis for us using this information?</li>
        <li>Direct marketing and how you can change your preference</li>
        <li>How we protect your information</li>
        <li>How long we keep your information for</li>
        <li>Links to and from third party websites</li>
        <li>Your rights</li>
        <li>Contact us</li>
        <li>Your right to lodge a complaint with the ICO</li>
    </ul>
    <p>
        Cookies Policy
    </p>
    <ul>
        <li>Overview of our Cookie Policy</li>
        <li>What are cookies?</li>
        <li>More about the cookies we use</li>
        <li>Specific cookies we use        </li>
        <li>Turning cookies off        </li>
        <li>Contact us</li>
       <li>Further reading </li>
    </ul>
    <h1 class="mt-4">THE INFORMATION WE COLLECT
    </h1>
<p>
    We collect and process information which:
</p>
<ul>
    <li>you give to us when you register with us, such as your name and contact details
    </li>
    <li>we obtain from Credit Reference Agencies on your behalf</li>
    <li>we collect about you based on your use of our website or from your mobile device if you are using our app</li>
    <li>we receive from other sources, such as third parties who give us information about you
    </li>
    <li>is collected from cookies.
    </li>
</ul>
<p>
    We may collect and process the following data about you:<br>
    Information you give us. You may give us information about you when you use our services or by communicating with us. This includes information you provide when you participate in discussion boards, answer specific questions on our website, provide us with feedback, participate in surveys, and when you report a problem.
</p>
<p>
    The information you give us may include:
</p>
<ul>
    <li>Title</li>
    <li>Name</li>
    <li>Income</li>
    <li>Email address</li>
    <li>Date of birth</li>
    <li>Phone number
    </li>
    <li>Residential details    </li>
    <li>Employment details    </li>
    <li>Address history    </li>
    <li>Bank    </li>
    <li>Property value </li>
    <li>Deposit</li>
    <li>Monthly rental income</li>
    <li>Mortgage details</li>
    <li>Driving licence details</li>
    <li>Energy and gas tariff details</li>
    <li>Lifestyle information    </li>
</ul>
<p>
    Special categories of data. If you use some of our services (such as obtaining a quote for motor insurance), we may ask you to provide or receive special categories of data such as:
</p>
<ul>
    <li>Health Data (for example, if you have DVLA reported medical conditions or disabilities) </li>
    <li>Criminal convictions and CCJs    </li>
    <li>Claims history    </li>
</ul>
<p>
    Information we collect from Credit Reference Agencies on your behalf. If you register to use our services, we will obtain your credit score and credit report from one or more <a href="https://www.clearscore.com/credit-score/what-are-credit-reference-agencies">Credit Reference Agencies</a> on your behalf.<br>
    Information we collect about you based on your use of our website or apps. Each time you visit our website or use our app we may automatically collect the following information:
</p>
<ul>
    <li>
        technical information, including the Internet protocol (IP) address, your login information, browser type and version, time zone setting, operating system and platform
    </li>
    <li>
        information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and from our website (including date and time); products you viewed or searched for; page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), and methods used to browse away from the page and any phone number used to call our customer service number
    </li>
</ul>
<p>
    Information we receive from other sources. We may receive information about you if you use any of the websites we operate or the other services we provide. We are also working closely with third parties (including, for example, business partners, service providers, advertising networks, analytics providers, search information providers, social media) and may receive information from them, such as your credit report information, whether or not you have taken out a product with them, what other products you may have used, and other such details.
Information collected from cookies. We and our service providers collect information about your use of our website from cookies. For more on how we use cookies and how to decline them or turn them off please read our Cookies Policy.<br>
Other mobile information for mobile users. If you are using our app on a mobile device and you have consented for us to do so (where necessary), we may collect the following information from your device:
</p>
<ul>
    <li>your precise location - longitude and latitude details with the time that the details are captured</li>
    <li>call log details – we will access your phone call history (this includes the phone numbers used for calls or SMS messages sent or received, duration of calls and the time of the communication). We do not access the content of the text messages</li>
    <li>the amount of mobile and Wi-Fi data which other applications on your phone use (this is the upload and download usage per applications, total upload and download usage for the device and the time spent in the applications)</li>
    <li>device information or operating system version for your mobile device</li>
    <li>battery charging behaviour - we receive notification of changes to your battery as they occur</li>
</ul>
<p>
    Recording telephone calls and other communications. We may monitor or record telephone conversations or other communications between you and us.
</p>
<h1 class="mt-4">HOW WE USE THE INFORMATION</h1>
<p>
    We use information we hold about you to provide our services to you and improve those services, administer your account and communicate with you and to use information on an anonymous basis for research, profiling and analytical purposes.<br>
    Information you give to us or we collect from Credit Reference Agencies or other third parties on your behalf as part of our services. We will use this information to:
</p>
<ul>
    <li>administer your account and relationship with us and to, communicate with you by telephone, mail, email, text (SMS) message or other electronic means</li>
    <li>verify your identity as part of our identity authentication process</li>
    <li>provide you with information, products and services</li>
    <li>where you have provided your consent for us to market to you, provide you with information about other products and services we feel may interest you or be best for you</li>
    <li>notify you about changes to our services</li>
    <li>ensure that content from our website is presented in the most effective manner for you and your device</li>
    <li>aggregate it on an anonymous basis with other data for data analytical and reporting purposes</li>
    <li>undertake analysis and profiling of your credit information in order to identify and inform you of credit </li>
    <li>products that we consider are likely to interest you or be suited to your credit circumstances or to enhance our services.</li>
</ul>
<p>
    Information we collect about you based on your use of our website. We will use this information:
</p>
<ul>
    <li>
        to administer our website and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes
    </li>
    <li>
        to improve the service we offer you such as understanding the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you
    </li>
    <li>
        as part of our efforts to keep our website safe and secure and to prevent fraud 
    </li>
    <li>
        to make recommendations about products or services that may be of interest
    </li>
</ul>
<p>
    Information we receive from other sources. We may combine this information with information you give to us and use this information and the combined information for the purposes set out above.<br>
    Recording telephone calls and other communications. We will use telephone recordings or transcripts of communications to check your instructions to us, analyse, assess and improve our services, for training and quality purposes and for the purposes of investigating any complaint you may make, or as evidence in any dispute between you and us.<br>
    Use of other information for mobile users on our app.
</p>
<ul>
    <li>We use location data because it helps us to better understand issues relating to people who haven’t used much credit before and to better offer services to those people. We will not share location data with any third parties</li>
    <li>We collect log details and other app usage data because this assists us in categorising certain patterns or behaviours and correlating those with higher or lower credit scores / risk.</li>
    <li>We also use the call log details, data usage for external applications, device information and battery charging information to improve the performance of our apps and to refine the user experience. For example, we use the device information to check whether updates we are making to our apps will work on your phone, and to check how our apps are affecting your battery life</li>
    <li>This data collection will be used for the purposes of modelling and analysis to ascertain if this data can be used to assist those individuals with difficulty in accessing credit improve their financial well-being and to protect you from fraud. If we determine that the information collected does not prove to be useful for these purposes, we will cease to collect it and it will be deleted. We will keep you informed of any significant changes to this type of data collection
    </li>
</ul>
<p>
    What we will never do. Rest assured, we will never sell your information to third parties.
</p>
<h1 class="mt-4">WHO WE MAY SHARE YOUR DATA WITH</h1>
<p>
    We may share your data with other members of our group and with other third parties, such as our service providers, advertisers, Credit Reference Agencies and Fraud Prevention Agencies.<br>
We may need to disclose your data to others to ensure the smooth provision to you of the products, services and information you request. Your data may be disclosed to the other entities as described below.<br>
These third parties act on our instructions and are processors of your information.<br>
The personal information we have collected from you will be shared with fraud prevention agencies who will use it to prevent fraud and money-laundering and to verify your identity. If fraud is detected, you could be refused certain services, finance or employment. Further details of how your information will be used by us and these fraud prevention agencies, and your data protection rights, can be found by following this <a href="https://www.clearscore.com/fraud-prevention-notice">link</a>.
Sub-processors. We may share your information with the following sub-processors:
</p>
<table class="table table-bordered mt-4">
  <thead>
      <tr>
          <td>Entity Name</td>
          <td>Activities</td>
      </tr>
  </thead>
  <tbody>
   <tr>
    <td>
        Amazon Web Services, Inc.
        
        </td>
<td>
    Cloud Service Provider
    </td>        
   </tr>
   <tr>
       <td></td>
       <td>
        Customer Support Management Provider
        </td>
   </tr>
   <tr>
    <td></td>
    <td>

        Customer Relationship Management Provider
    </td>
</tr>
<tr>
    <td>
        Domo, Inc.
        </td>
        <td>
            
Data Storage and Analytics Provider
        </td>
</tr>
<tr>
    <td>
        Segment.io, Inc.
        
        </td>
        <td>
            Data Segregation Tool Provider
            </td>
</tr>
<tr>
    <td>
        
Truelayer Limited
    </td>
    <td>
        
Data Aggregator Provider

    </td>
</tr>
<tr>
    <td>
        Zendesk, Inc.
        
        </td>
        <td>
            
Customer Support Provider

        </td>
</tr>
</tbody>
</table>
<p>
    Group company. We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries.
</p>
<p>
    Selected third parties. We may also share your information with selected third parties including:
</p>
<ul>
    <li>Credit Reference Agencies, to obtain your credit score and credit report on your behalf and to provide our services to you (please see “Credit Reference Agencies” below for more detail)
    </li>
    <li>
        Fraud prevention agencies, to prevent crime and trace those responsible (please see "Fraud Prevention Agencies” below for more detail)
    </li>
    <li>
        Product providers, such as our business partners who offer you credit cards, loans, car finance, mortgages, insurance, pensions, investments and other related products, to:
      <ul>
          <li>
            assess if you are an existing customer and for fraud prevention purposes
          </li>
          <li>
            conduct analysis to provide you with better products and services in the future, and for segmentation purposes
          </li>
          <li>
            pre-fill an application form with the product provider
          </li>
          <li>
            assess your probability of being accepted for a product
          </li>
      </ul>
    </li>
</ul>
<p>
    The product provider does not have permission to use this data for any other purpose including marketing

</p>
<ul>
    <li>
        service providers we use (such as comparison sites and aggregators) for analysis and profiling of your credit information (and any other data provided by you or on your behalf) to identify and inform you of credit products that are likely to be suited to your credit circumstances through targeted advertising. When you click to search for credit offers on our website or our apps, these service providers will record a ‘soft credit search’ on your credit file, but this record will be invisible to other lenders, so by itself it will not affect their lending decision and it will not affect your credit score. You can opt out of this if you want to in your <a href="https://www.clearscore.com/account/myaccount/eligibility">"My Account" section</a> , however, if you do opt out of this, we will not be able to show you ads that are specifically targeted to you and will only be able to show you generic ads, which may not be suited to your credit circumstances

    </li>
    <li>
        advertisers that require data, to perform services on our behalf, including selecting and serving relevant adverts
    </li>
    <li>
        analytics and search engine providers that assist us in the improvement and optimisation of our service
    </li>
    <li>
        if we sell or buy any business or assets, in which case we may disclose your personal data to the prospective seller or buyer of such business or assets (or the buyer or seller’s advisers)
    </li>
    <li>
        if we or part or all of our assets are acquired by a third party, in which case personal data held by us about our customers will be one of the transferred assets
    </li>
    <li>
        if we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our Terms and other agreements; or to protect the rights, property, or safety of Noba GroupLimited, our customers, or others. This includes exchanging information with other companies and organisations for the purposes of fraud protection and credit risk reduction.
    </li>
</ul>
<p>
    Credit Reference Agencies. If you register to use our services we will obtain on your behalf, in accordance with our Terms, copies of your credit report and credit score from designated <a href="https://www.clearscore.com/credit-score/what-are-credit-reference-agencies">Credit Reference Agencies</a>. In order to provide these services to you, we will share your information with such Credit Reference Agencies.
<br>
The information which we provide to the CRA may be supplied by them to other organisations such as Fraud Prevention Agencies and used by those organisations for the purposes of checking identity, preventing fraud, tracing and collection of debt. The CRA may also use the data to undertake statistical analysis.
<br>
If you choose to apply for a product, the lender will undertake a full credit check and provide you with further privacy information for that product. More information about each CRA and what it does with personal data is available <a href="https://www.equifax.co.uk/crain">here</a>.
<br>
Fraud Prevention Agencies. We will share your personal information with fraud prevention agencies. If false or inaccurate information is provided and fraud is identified, details of this fraud will be passed to these agencies. Law enforcement agencies may access and use this information. We and other organisations may access and use from other countries the information recorded by fraud prevention agencies.
</p>
<h1 class="mt-4">WHAT IS THE LEGAL BASIS FOR US USING THIS INFORMATION?</h1>
<p>
    We make we have appropriate legal bases on which to collect, use and share data about you. If you have any questions about the lawful bases upon which we collect and use your personal data, you can contact our Data Protection Officer.
<br>
Our lawful bases may include consent (where you have given consent), contract (where processing is necessary for the performance of a contract with you (such as delivering our core services to you) and our own legitimate interests.
<br>
Performance of a contract. We need you to give us the information you provide, and to collect information about you from the Credit Reference Agencies or other third parties in order for us to provide you with our services as agreed in our contract with you. We cannot provide our services to you without collecting the information you give us because we need certain information from you to be able to seek your credit report and score and to show suitable financial offers to you.
<br>
For other types of information (such as the information we collect based on your use of the website and information we receive from our sources about you), we process this information for the purposes of providing our services to you as agreed in our contract and for the purpose of to enable us to:
</p>
<ul>
    <li>provide a secure website to our customers; and</li>
    <li>analyse our users’ behaviour and preferences, and information collected from users' devices in order to have information required to be able to improve the services we provide to our customers and the user experience on our website.
    </li>
</ul>
<p>
    Consent. We will always seek your consent to process certain types of information where we are legally required to do so. You have the right to withdraw or decline your consent at any time.
<br>
Legitimate interests. We may process your personal data for the purposes of our legitimate interests or for the legitimate interests of our product providers or other suppliers provided that such processing does not outweigh your rights and freedoms. As an example, we may process your personal data to:
</p>
<ul>
    <li>display tailored product offers to you
    </li>
<li>comply with laws that apply to us
</li>
<li>provide you with our service, including for the purpose of quality control and analysis
</li>
<li>protect you and us from fraud or other threats
</li>
<li>conduct analysis, segmentation and profiling of your data in order to provide you with direct marketing communications
</li>
<li>
    improve our service and manage our customer relationships
</li>
</ul>
<p>
    Where we rely on legitimate interests, you have the right to object at any time.

</p>
<h1 class="mt-4">DIRECT MARKETING AND HOW YOU CAN CHANGE YOUR PREFERENCE</h1>
<p>
    We offer you the opportunity to receive marketing information from us. You can opt out easily of receiving marketing from us at any time.
<br>
We will normally send direct marketing by email if we have your email address, but may choose to contact you via other methods.
<br>
You may receive the following types of communications from us:
</p>
<ul>
    <li>Product recommendations – we’ll get in touch with personalised, timely product recommendations that can help you improve your financial situation. We will only ever send these if you explicitly consent to receiving them and you can unsubscribe whenever you like.
    </li>
<li>
    Content communications - we’ll send you content such as tips, research, features and news, coaching programmes on how to keep on top of your money and other related content. You can unsubscribe from these at any time and we will never spam your inbox.
</li>
<li>
    Core communications – we will send you your credit report every month, alerts whenever there is a change to your credit report, security alerts pertaining to your Nobaworld account, significant changes which may impact our service and other such related content. These communications are an intrinsic part of owning a Nobaworld account and cannot be opted-out of.
</li>

</ul>
<p>If you would like us to stop sending direct marketing to you, we offer simple ways to do this. Whenever you receive direct marketing you will be given an option to unsubscribe. You may also update your preferences <a href="https://www.clearscore.com/account/myaccount/marketing">here.</a> 
<br>
You can also tell us that you do not wish to receive any more marketing communications at any time by writing, with your full name, address and other contact details (to enable us to find your records), to:
<br>
Data Protection Officer
<br>
Noba Group Limited 
Dudley House<br>
169 Piccadilly, <br>
London, W1J 9EH <br>
United Kingdom
</p>
<h1 class="mt-4">HOW WE PROTECT YOUR INFORMATION
</h1>
<p>
    We take the security of your data very seriously and use strict procedures to protect it. Whenever we transfer personal data outside of the UK/ European Economic Area, we ensure that appropriate safeguards are in place to protect the data.
<br>
All information you provide to us is stored on our secure servers.
<br>
We do our best to protect your personal data, but we cannot guarantee the security of your data transmitted to our website; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access, loss or damage.
<br>
Where possible, we try to only process your information within the UK and European Economic Area (EEA). If we or our service providers transfer personal data outside of the UK or EEA, we always require that appropriate safeguards are in place to protect the information when it is processed. Part of our customer services function is based in India. We have put in place safeguards to protect personal data processed in or accessed from India.
</p>
<h1 class="mt-4">
    HOW LONG WE KEEP YOUR INFORMATION FOR
</h1>
<p>
    While your account remains active, we keep your information for no longer than is necessary depending on the purpose for which we are using it.
<br>
How long we keep your information will depend on the purpose for which we use it. While you are a customer of ours, we will only retain your information for as long as is necessary for those purposes.
<br>
After termination of your account, we may continue to use anonymised data (which does not identify individual users) which is aggregated with anonymised data of other users. We use this aggregated anonymised data for data analysis, profiling and research purposes, for example to gain insights about our users. We may also keep your email address to ensure that you no longer receive any communications from us as well as your name, date of birth and latest address for fraud prevention purposes and for the exercise or defence of a legal claim.
</p>
<h1 class="mt-4">
    LINKS TO AND FROM THIRD PARTY WEBSITES
</h1>
<p>
    If you follow a link to or from our website to a third party website, please be aware that these websites have their own privacy policies.
<br>
Our website may, from time to time, contain links to and from the websites of our partner networks, advertisers and affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies.
</p>
<h1 class="mt-4">AUTOMATED DECISION MAKING
</h1>
<p>
    We use an automated decision making system to make automated decisions based on personal information we have about you. This helps us to make sure our decisions are quick and fair, based on what we know.
<br>
Identity verification. We use an automated decision making system to verify the details you provide against those held by third party providers. If you do not pass the check using the automated system, we cannot provide our services to you without being able to verify your identity.
<br>
Tailored products and services. We may use your information to predict the probability that you may be accepted for a product, or to determine the best order or manner in which to display products to you.
<br>
Tailored communications. We want to make sure we’re only sending you emails that are relevant to you, and so we will use your personal information to determine which content you may be more interested in receiving.
<br>
You’ve the right not to be subject to a decision based solely on automated processing, including profiling. We understand that not everyone is comfortable with decisions being left entirely up to machines. If you have any questions about automated decision making, please contact us via privacy@Nobaworld.com.

</p>
<h1 class="mt-4">YOUR RIGHTS
</h1>
<p>
    You can exercise specific rights with regards to the data that we hold about you.
<br>
We will provide you with the necessary tools and contact details to be able to exercise your statutory rights regarding the information that we hold about you. You will be able to:
</p>
<ul>
    <li>Correct your data: you will usually be able to amend any information that we hold about you that is inaccurate or incomplete through the settings in your account.
    </li>
    <li>
        Request access to your data: you can ask for access to the personal data that we hold about you so that you can check that we are using your information in accordance with data protection law
    </li>
    <li>
        Erase your data: you can ask us to fully or partially delete your personal data where there is no compelling reason for us to keep using it, although we may not be able to continue to provide our services. We may keep your email address to make sure the restriction is respected in future. We also have the right to continue using your information if such usage is necessary for compliance with our legal obligations.
    </li>
    <li>
        Download your data or send it to another controller: you can obtain a copy of the data you provided us in a machine-readable format. In addition, where certain conditions apply, you have the right to have such information transferred directly to a third party.
    </li>
    <li>
        Object to the use of your data: you can ask that we no longer use your personal data where that use is based on a legitimate interest
    </li>
    <li>
        Restrict the use of your data: You have the right to ‘block’ or suppress further use of your information in certain circumstances (for example, where you think the information we are using about you is inaccurate, whilst we verify its accuracy). When usage is restricted, we can still store your information, but may not use it further.
    </li>
    <li>
        Right to withdraw consent: If you have given your consent for us to use your information, you have the right to withdraw your consent at any time. This can be done by contacting our Data Protection Officer.
    </li>
</ul>
<p>
    For the exercise of any of your rights, you can also contact us at privacy@Nobaworld.com.
</p>
<h1 class="mt-4">CHANGES WE MAKE TO OUR PRIVACY NOTICE</h1>
<p>
    Any changes we may make to our Privacy Notice in the future will be posted on this page and, where we decide it is appropriate, notified to you by email. Please check back frequently to see any updates or changes to our Privacy Notice.
</p>
<h1 class="mt-4">CONTACT US</h1>
<p>
    You can address any questions, comments, complaints or requests regarding this Privacy Notice to the Data Protection Officer at hello@nobaworld.com.

</p>
<h1 class="mt-4">
    YOUR RIGHT TO LODGE A COMPLAINT WITH THE ICO
</h1>
<p>
    If you are not satisfied with our response to any complaints you raise with us or you believe our processing of your information does not comply with the data protection law, we suggest you contact our Data Protection Officer. However, you can make a complaint to the Information Commissioner’s Office (ICO) at any time.<br>
    Please see the ICO website for further information – <a href="https://ico.org.uk/make-a-complaint/">https://ico.org.uk/make-a-complaint/</a>.
</p>
<br><br>
</div>


