<!-- Side menu -->
<ul class="overlay" [@slideInOut]="menuState">
  <img class="o-top-small" (click)="toggleOut()" src="../../../assets/images/o-top-small.svg" />
  <img class="o-bottom-small" [ngClass] = "position" (click)="toggleOut()" src="../../../assets/images/o-bottom-small.svg" />
  <div class="overlay-content">
    <li><a id="home" routerLink = "{{nav.home}}"> <span>For</span> Home </a></li>
    <li><a id="noba" routerLink = "{{nav.what_is_noba}}"> What is Noba </a></li>
    <li><a id="world" routerLink = "/" [fragment]="'worldtarget'" (click) = "toggleOut()"> Our World </a></li>
    <li><a id="app" routerLink = "/" [fragment]="'apptarget'"> Get the App </a></li>
    <li><a id="login" routerLink = "{{nav.register_interest}}"> Register Interest </a></li>
    <li><a id="partner" routerLink = "/" [fragment]="'partnertarget'"> Partner with Us </a></li>
  </div>
</ul>

<!-- Navigation -->
<div class="header">
    <nav class="navbar">
      <div class="text-left">
        <a class="fadeInDown animated" routerLink="{{nav.home}}">For People</a>
        <a class="fadeInDown animated" routerLink="{{nav.business}}">For Business</a>
        <a id="app" class="fadeInDown animated" routerLink = "/" [fragment]="'apptarget'">Get App</a>
        <a class="fadeInDown animated" routerLink="{{nav.register_interest}}">Register Interest</a>
      </div>
      <div class="text-right fadeInDown animated">
        <a class="logo" (click)="toggleIn()"><img class="fadeInDown animated" src="../../../assets/images/logo.svg"
            alt="logo" /></a>
        <!-- <mat-icon (click)="toggleOut()"><img src="../../../assets/images/logo.svg" alt="logo"/></mat-icon> -->
        <!-- <a class="logo" onclick="openNav()"><img src="../../../assets/images/logo.svg" alt="logo"/></a> -->
      </div>
    </nav>
  </div>